# Для разработки
/.idea/

# hrenpack_js
/hrenpack_js/node_modules
/hrenpack_js/package.json
/hrenpack_js/package-lock.json
/hrenpack_js/tsconfig.json
/hrenpack_js/documentation_old.html
/hrenpack_js/documentation_new.html
/hrenpack_js/src/

# Тоже hrenpack_js
*.ts
package.json
package-lock.json
tsconfig.json
!*.d.ts
/node_modules/*.d.ts
/node_modules/

# Ресурсы для дистрибутивов hren
/hrenpack_js/hrenpack_js/
/hrenpack-theme-style/hrenpack-theme-style/
hren_api.d.ts
hren_api.d.ts.map
hren_api.js
hren_api.js.map
pypi_api.d.ts
pypi_api.d.ts.map
pypi_api.js
pypi_api.js.map
hrenpack/dist/index.html
