.grid-panel {
    cursor: pointer;

    p {text-align: center}

    h6 {
        text-align: right;
        margin: auto;
    }
}

h3 {
    margin: 5% 0;
}

#hrenpack_js_doc {
    display: flex;
    justify-content: space-between;
}
