/*#install-div {
    display: flex;
    justify-content: center;
}*/

#install-div {
    background: var(--background-color);
    border: 1px solid #333;
    border-radius: 15px;
    margin-left: 10%;
    width: 80%;

    #install-copy-button {
        .btn {
            color: #aaa;
            float: right;
            display: flex;
            border-left: 1px solid #333;
            border-radius: 0;
        }
    }

    pre {
        border: none;
        border-top: #333 solid 1px;
        width: 100%;
        height: 100%;
        border-radius: 0;
        min-height: 280px;
    }
}
