#products {
    display: grid;
    width: 70%;
    margin-left: 15%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;

    .product-card {
        /*background: rgb(0, 80, 0, 0.2);*/
        border: 1px solid var(--header-background);
        padding: 10px;
        border-radius: 20px;

        img {
            width: 100%;
            height: 200px;
        }

        h5 {
            font-weight: 700;
        }

        h4 {
            font-weight: 700;
            text-align: left;
        }

        row {
            font-weight: 100;

            el {
                font-weight: 600;
            }
        }
    }

    .btn-success {
        background: #ff161a;
        border: none;
        color: var(--hrenpack-bg-ahren);
    }

    .btn-success:hover {
        background: #f44;
    }

    .btn-success:active {
        background: #f55;
    }
}
