@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/*
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*/

:root {
    /*--header-background: #a5643a;*/
    --header-background: #050;
    --footer-background: #030;
    --footer-foreground: var(--hrenpack-color-ahren);
    --hrenpack-button-hover-color: #ff161a;
    --hrenpack-button-pressed-color: #ff4444;
}

svg {
    fill: var(--hrenpack-foreground);
}

@font-face {
    font-family: 'Gooseberry';
    src: url("../fonts/goosberry_version_02.otf");
}

body {
    font-family: 'Open Sans', sans-serif;
}


a {
    color: var(--header-background);
}

header {
    /*font-family: 'Open Sans', sans-serif;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 15px;
    background: var(--header-background);

    a {
        color: var(--hrenpack-foreground);
    }

    [data-id="header-and-logo"] {
        padding-left: 10px;
        font-family: "Gooseberry", sans-serif;

        svg {
            width: auto;
            height: 100px;
        }

        div {
            font-size: 70px;
            display: flex;
            justify-content: center;
            gap: 10px;
            align-items: center;

            img {
                width: 70px;
            }
        }

        h2 {
            font-size: 20px;
            position: relative;
            bottom: 25px;
            left: 40px;
        }
    }

    [data-id="header-order"] {
        h5 {
            a {
                display: flex;
                justify-content: left;

                #cart-icon {
                    padding-right: 5px;
                    width: auto;
                    height: 1em;
                }
            }
        }

        button {
            margin-top: -10px;
        }
    }

    [data-id="header-theme"] {
        width: 4vw;
        height: 4vw;

        img {
            width: 100%;
        }
    }

    #hrenpack-toggle-theme {
        border-radius: 100%;
        width: 100%;
        height: 100%
    }
}

footer {
    background: var(--footer-background);
    color: var(--footer-foreground);

    [data-id="footer-container"] {
        display: grid;
        grid-template-columns: 75% 20%;
        gap: 5%;

        [data-id="footer-header"] {
            .h-non-center {
                font-family: "Gooseberry", sans-serif;
            }

            h2 {
                font-size: 50px;
            }

            h3 {
                margin-top: -10px;
                font-size: 30px;
            }

            svg {
                height: 70px;
            }
        }

        [data-id="footer-subscribe"] {
            display: flex;

            input {
                width: 100%;
                height: 50px;
            }

            button {
                width: 25%;
                height: 40px;
                position: relative;
                left: calc(-20% - 10px);
                margin-top: 5px;
            }
        }

        [data-id="footer-navigation"] {
            a {color: var(--hrenpack-button-hover-color)}
        }
    }
}
