#generator-div {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;

    .generator {
        width: 40%;
        height: 100%;
    }

    .generator-border {
        width: 10%;
    }

    #generator-code-div {
        background: var(--background-color);
        border: 1px solid #333;
        border-radius: 15px;

        #generator-copy-button {
            .btn {
                color: #aaa;
                float: right;
                display: flex;
                border-left: 1px solid #333;
                border-radius: 0;
            }
        }

        pre {
            border: none;
            border-top: #333 solid 1px;
            width: 100%;
            height: 100%;
            border-radius: 0;
            min-height: 280px;
        }
    }

    #generator-inputs-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;

        label {
            width: 2em;
        }
    }

}