table {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

#documentation-link-div {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 10%;

    a {
        font-weight: bold;
        font-size: 16pt;
    }
}
